* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.2;
    background-color: #caabff;
}

.h2-1 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
}

header {
    background-image: url('Images/BG images/BackgroundImage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
    padding: 0 23px;
    margin: 0px;
}

p {
    font-size: large;
}

.mylogo {
    display: flex;
}

.mylogo img {
    margin: 30%;
    height: 50px;
}

.list-menubar a {
    color: #ff8080;
}

.list-menubar {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    padding: 1%;
}

.index-intro {
    padding: 10%;
    text-align: center;
}

.index-intro h1 {
    color: #ff8080;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-shadow: 2px 2px 8px #ff8080;
}

.index-intro h2 {
    color: #ff8080;
}

.index-proffesion {
    color: #ffffff;
    margin-top: 4%;
    font-family: 'Times New Roman', Times, serif;
}

.index-proffesion-underline {
    border-bottom: 3px solid #259935;
    width: 10rem;
    margin: auto;
    margin-bottom: 8%;
}

button:hover {
    background-color: #12edfe;
}

.btn-work {
    border: 0;
    padding: 10px;
    font-size: 1rem;
    margin: 10px;
    border-radius: 10px;
}

.btn-click {
    color: black;
    text-decoration: none;
}

.section-a-title {
    text-align: center;
    background-color: #f1f1f1;
}

.section-a-title {
    margin: 5%;
    background-color: #d8d8d8;

}

.list-work {
    display: flex;
    text-align: center;
}

.table-1 {
    padding: 10px;
}

.table-1 .fa.fa-file-text,
.table-1 .fa.fa-desktop,
.table-1 .fa.fa.fa-object-ungroup,
.table-1 .fa.fa.fa-thumbs-up {
    color: #ffbb00;
    background-color: #2c2c2c;
    border-radius: 20%;
    padding: 20px;
    width: 40px;
    height: 40px;
}

.title-border {
    border-bottom: 3px solid #259935;
    width: 31rem;
    margin: 15px auto;
    font-size: xx-large;
}

.title {
    font-size: 30px;
    padding: 20px;
}

.stats {
    display: flex;
    text-align: center;
    width: 100%;
}

.stats div {
    width: 25%;
    text-align: center;
}

.table-2-1 {
    padding: 60px 0;
    background-color: #ebebeb;
}

.table-2-2 {
    padding: 60px 0;
    background-color: #bebebe;
}

.stats li {
    margin: 20px;
}

.section-c-table {
    display: flex;
    width: 100%;
    text-align: center;
    grid-gap: 1rem;
}

.section-c-table div {
    width: 25%;
}

.table-3 {
    margin: 2%;
}

.table-3 .fa.fa-file-text,
.table-3 .fa.fa-desktop,
.table-3 .fa.fa-object-ungroup,
.table-3 .fa.fa-thumbs-up {

    color: white;
    background-color: #2c2c2c;
    border-radius: 50%;
    padding: 2rem;
    width: 70px;
    height: 70px;
}

.table-3 .fa.fa-file-text:hover:hover,
.table-3 .fa.fa-desktop:hover,
.table-3 .fa.fa-object-ungroup:hover,
.table-3 .fa.fa-thumbs-up:hover {
    transition: 0.7s ease-in-out;
    background-color: #ffbb00;
    color: #000000;
    padding: 2.3rem;
}

.h2-2 {
    padding: 20px;
}

/* footer */
footer {
    background-color: #313131;
}

.footer-data {
    display: grid;
    width: 100%;
    color: white;
    grid-template-columns:auto auto auto auto;
    grid-gap: 1.5rem;
}

.footer-title-border {
    text-align: left;
    border-bottom: 3px solid #ffbb00;
    width: 5rem;
}

.mail,
.call {
    padding: 10px;
}

.mail:hover,
.call:hover {
    color: black;
    background-color: #ffbb00;
    transition: 0.5s ease-in-out;
}
.footer-connection{

}
.connectionLink{
    display: flex;
    flex-wrap: wrap;
}
.footer-rows,
.footer-connection,
.footer-address,
.footer-list {
    width: 25%;
    padding: 2%;
}

.footer-rows {
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.footer-list a:hover {
    color: black;
    background-color: #ffbb00;
    transition: 0.5s ease-in-out;
    border-radius: 10%;
}

.footer-list li {
    margin-top: 1rem;
}

.footer-list a {
    padding: 10px;
    text-decoration: none;
    color: #adadad;
}

.footer-address address {
    margin: 1rem;
    color: #adadad;
}

.footer-connection .fa.fa-instagram:hover,
.footer-connection .fa.fa-facebook:hover,
.footer-connection .fa.fa-linkedin:hover,
.footer-connection .fa.fa-envelope-o:hover {
    transition: 0.3s ease-in;
    background-color: #ffbb00;
}

.footer-connection .fa.fa-instagram,
.footer-connection .fa.fa-facebook,
.footer-connection .fa.fa-linkedin,
.footer-connection .fa.fa-envelope-o {
    color: white;
    background-color: #5e5e5e;
    border-radius: 50%;
    padding: 10px;
    width: 30px;
    height: 30px;
    margin: 15px 10px 10px 0px;
    text-align: center;
}

.copyright {
    text-align: center;
    color: #ffffff;
    padding: 2rem;
    font-size: 20px;
}

/* contact.html */
.header-contact {
    border-bottom: 5px solid #259935;
    height: 7.5rem;
}

#contact-section-a {
    text-align: center;
    background-image: url("Images/BG images/bg img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.seperate-section {
    border-bottom: 5px solid #259935;
}

#contact-section-b {
    text-align: center;
    background-image: url("Images/BG images/bg img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;

}

form {
    padding: 4%;
}

.form-container h1 {
    color: rgb(255, 255, 255);
    font-size: 50px;
    padding: 1%;
}

.form-container p {
    color: white;
    margin: 1%;
    font-size: 30px;
}

.input {
    display: grid;
    grid-gap: 20px 50px;
    grid-template-areas:
        "name email"
        "subject phone"
        "message message";
}

input {
    padding: 10px;
    width: 100%;
}

textarea {
    padding: 10px;
    width: 210%;
    height: 100px;
}

.submit-btn {
    color: #ffffff;
    background-color: #313131;
    width: 50%;
    height: 40px;
    margin-top: 4%;
}

.submit-btn a {
    color: #ffffff;
    text-decoration: none;
}

.address {
    display: flex;
    padding: 2rem;
    justify-content: space-around;
}

.address div {
    color: white;
    text-align: left;
}



/* responsepage.html */
.en body {
    background-image: url('Images/BG images/BackgroundImage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.responsepage {
    text-align: center;
    padding: 8%;
}

.response {
    color: white;
    border-color: #259935;
    background-image: url("Images/responsepage/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.response-notice p {
    font-size: 150%;
}

.back-home {
    text-align: center;
}

.back-btn a {
    color: #ffffff;
    text-decoration: none;
}

.back {
    color: #ffffff;
    background-color: #259935;
    width: 20%;
    height: 40px;
}